In [1]:
import pandas

## 1. Exploring the Dataset

In [3]:
df=pandas.read_csv('reviews.csv')
df

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [4]:
df.columns

Index(['Course Name', 'Timestamp', 'Rating', 'Comment'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=45000, step=1)

In [6]:
df.shape

(45000, 4)

In [7]:
df['Course Name']

0        The Python Mega Course: Build 10 Real World Ap...
1        The Python Mega Course: Build 10 Real World Ap...
2        The Python Mega Course: Build 10 Real World Ap...
3        The Python Mega Course: Build 10 Real World Ap...
4        The Python Mega Course: Build 10 Real World Ap...
                               ...
44995                   Python for Beginners with Examples
44996    The Python Mega Course: Build 10 Real World Ap...
44997    The Python Mega Course: Build 10 Real World Ap...
44998                   Python for Beginners with Examples
44999    The Python Mega Course: Build 10 Real World Ap...
Name: Course Name, Length: 45000, dtype: object

In [9]:
df['Rating']

0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64

## 2. Filtering the Dataset

In [10]:
df[df['Rating']>4]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [14]:
k=df[(df['Rating']>4) & (df['Course Name']=='Python for Beginners with Examples')]

In [16]:
#average ratings
k.Rating.mean()

4.855911330049261

In [18]:
k.count()

Course Name    2842
Timestamp      2842
Rating         2842
Comment         492
dtype: int64

In [24]:
df[df['Timestamp']>'2021']

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
3036,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 06:20:15+00:00,4.0,NaN
3037,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 05:57:33+00:00,4.5,NaN
3038,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 02:16:56+00:00,4.0,NaN
3039,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 01:48:22+00:00,4.0,NaN
3040,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 01:45:56+00:00,5.0,NaN

In [26]:
# converting into time series
df['Timestamp']=pandas.to_datetime(df['Timestamp'])

In [27]:
type(df['Timestamp'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
df[df['Timestamp']>'2021']

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
3036,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 06:20:15+00:00,4.0,NaN
3037,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 05:57:33+00:00,4.5,NaN
3038,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 02:16:56+00:00,4.0,NaN
3039,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 01:48:22+00:00,4.0,NaN
3040,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 01:45:56+00:00,5.0,NaN

In [30]:
df[(df['Timestamp']>='2020-07-01')&(df['Timestamp']<='2020-12-31')]

,Course Name,Timestamp,Rating,Comment
3065,Interactive Data Visualization with Python and...,2020-12-30 23:28:34+00:00,3.0,NaN
3066,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:59:02+00:00,4.0,NaN
3067,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:40:10+00:00,4.5,NaN
3068,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:56:41+00:00,4.5,NaN
3069,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:14:34+00:00,4.5,NaN
...,...,...,...,...
9729,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:44+00:00,3.5,NaN
9730,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:12+00:00,5.0,NaN
9731,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:40:58+00:00,4.0,NaN
9732,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:04:02+00:00,5.0,nice
9733,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 00:01:34+00:00,2.0,Hard to follow if u have no experience program...

In [34]:
#Time based filtering
from pytz import utc
df[(df['Timestamp']>=datetime(2020,7,1,tzinfo=utc))&(df['Timestamp']<=datetime(2020,12,31,tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
3065,Interactive Data Visualization with Python and...,2020-12-30 23:28:34+00:00,3.0,NaN
3066,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:59:02+00:00,4.0,NaN
3067,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:40:10+00:00,4.5,NaN
3068,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:56:41+00:00,4.5,NaN
3069,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:14:34+00:00,4.5,NaN
...,...,...,...,...
9729,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:44+00:00,3.5,NaN
9730,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:12+00:00,5.0,NaN
9731,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:40:58+00:00,4.0,NaN
9732,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:04:02+00:00,5.0,nice
9733,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 00:01:34+00:00,2.0,Hard to follow if u have no experience program...

In [45]:
# Filtering the maximun ratings
df[df['Rating']==df['Rating'].max()]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
8,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 21:58:40+00:00,5.0,NaN
9,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 20:13:27+00:00,5.0,NaN
11,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 15:25:18+00:00,5.0,No
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [48]:
#average rating
mean=df['Rating'].mean()

4.442155555555556

In [51]:
# avg rating pirticular couse
df[df['Course Name']=='Python for Beginners with Examples']['Rating'].mean()

4.300974901472723

In [54]:
#avg rat piticualar period
df[(df['Timestamp']>=datetime(2020,7,1,tzinfo=utc))&(df['Timestamp']<=datetime(2020,12,31,tzinfo=utc))]['Rating'].mean()

4.499250262408157

In [60]:
#avg rat piticualr period pirticuaar couse
df2=df[((df['Timestamp']>=datetime(2020,1,1,tzinfo=utc))&(df['Timestamp']<=datetime(2020,12,31,tzinfo=utc)))&(df['Course Name']=='The Python Mega Course: Build 10 Real World Ap')]
df['Rating'].mean()

4.442155555555556

In [70]:
#avg uncommented ratings
df[df['Comment'].isnull()]['Rating'].mean()

4.433679746603492

In [71]:
#avg commented ratings
df[df['Comment'].notnull()]['Rating'].mean()

4.489777908515959

In [72]:
#number of uncomented ratings
df[df['Comment'].isnull()]['Rating'].count()

38201

In [73]:
#number of commented ratings
df[df['Comment'].notnull()]['Rating'].count()

6799

In [77]:
#no of comments with accent 
df[df['Comment'].str.contains('accent',na=False)]['Rating'].count()

77

In [78]:
#avg rating no of comments with accent
df[df['Comment'].str.contains('accent',na=False)]['Rating'].mean()

3.8636363636363638